.App {
  text-align: center;
}

.Heading{
    padding : 50px;
    font-family: 'Trocchi', serif;
    font-size: 45px;
    font-weight: normal;
    line-height: 48px;
}
.nav-logo{
    padding:10px;
    height:3rem;
    width:3rem;
}
.cardImage{
    height:500px;
    filter:blur(1px);
     transition : 1s ease-in-out;
}
.cardImage:hover{
    filter:blur(0);
     transition : 1s ease-in-out;
}