.App {
  text-align: center;
}

.Heading{
    padding : 50px;
    font-family: 'Trocchi', serif;
    font-size: 45px;
    font-weight: normal;
    line-height: 48px;
}
.nav-logo{
    padding:10px;
    height:3rem;
    width:3rem;
}
.card-container{
    overflow:hidden;
}
.card-container a{
    color:black;
}
.cardImage{
    height:500px;
    transition: all 0.6s ease 0.2s;
      width: 100%;
}
.cardImage:hover{
  transform: scale(1.25);
}

.not-found{
    padding:250px;
    font-size:80px;
   font-family: Baskerville;
}
.movie-detail{
    margin:20px;
    background-color :  #f0ebd1;
}
.movie-detail img{
    height:1000px;
    width:1000px;
    display:cover;
    border: 5px solid black
}
.movie-detail h1{
    font: 15px Arial, sans-serif;
    font-size :80px;
    padding:20px;
}
.movie-detail h3{
    font: italic small-caps bold 12px/30px Georgia, serif;
    font-size:15px;
    padding:30px;
}

.body-container{
    padding:20px;
}